<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='~/Content/css/positioning.css' rel='stylesheet' />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class='header'>
        <div class='logo'><img src='~/Content/images/awesome-logo.svg' /></div>
        <ul class='menu'>
            <li class='dropdown'><span>Features ▾</span></li>
            <li><a href='#'>Blog</a></li>
            <li><a href='#'>Subscribe</a></li>
            <li><a href='#'>About</a></li>
        </ul>
    </div>

    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
